<p>Hi! I made a very simple solution to the problem. This week I was very busy with some clients migration to a new system.</p> <br />

<p>I did an API using ADO to persist my data because I have a generator, if you want I may create using Entity or Dapper.</p> <br />

<p>If you want make a call, I can explain everything I did.</p> <br />

<p>"Also, how would you improve the transaction to ensure that the user who makes the purchase is the correct user?"</p>
<p>I've configured the JWT in the API, I just deactivated because we don't have authentication. The userId can be easily passed through the claims and than you will make sure who is calling. </p>

<p>Thank you the opportunity.</p> <br />
